{% extends 'market/base.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
                    <hr>
						<p>Shipping Information:</p>
                    <hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="County..">
						</div>
                        <div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Sub-County..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Mobile Number..">
						</div>

						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Area code..">
						</div>
					</div>


					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>
			
		<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>
            <div class="box-element hidden" id="payment-info">
				<small>M-pesa</small>
			</div>
            <div class="box-element hidden" id="payment-info">
				<small>KCB</small>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart-page' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static 'images/p1.png' %}"></div>
					<div style="flex:2"><p>Product 1</p></div>
					<div style="flex:1"><p>Ksh.2400</p></div>
					<div style="flex:1"><p>x2</p></div>
				</div>
				<h5>Items:   2</h5>
				<h5>Total:   Ksh.2,400</h5>
			</div>
		</div>
	</div>
{% endblock content %}