{% extends 'market/base.html' %}
{% load static %}
{% block content %}
    <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->


<div class="small-container">
         <h2 class="title">Welcome to Wangige Market!!</h2>
<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search for a business..." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
         <div class="row">
            <div class="col-4">
               <img src="{% static 'images/butchery2.jpg' %}" height="200px">
               <h4>Mjanja Butchery</h4>
               <h6>Gacio Market</h6>
               <p>Contact: <u class="important">0714227569</u></p>

               <a class="btn btn-outline-success" href="{% url 'mjanja' %}">Shop</a>
            </div>
            <div class="col-4">
               <img src="{% static 'images/liqor.jpg' %}">
               <h4>Lux & Vine Liqor Store</h4>
               <h6>Gacio Market</h6>
               <p>Contact: <u class="important">0722639144</u></p>

               <a class="btn btn-outline-success" href="{% url 'liqor' %}">Shop</a>
            </div>
            <div class="col-4">
               <img src="{% static 'images/liqor.jpg' %}">
              <h4>Mjanja Butchery</h4>
               <h6>Gacio Market</h6>
               <p>Contact: <u class="important">0714227569</u></p>

               <a class="btn btn-outline-success" href="#">Shop</a>
            </div>
                 <div class="col-4">
               <img src="{% static 'images/liqor.jpg' %}">
            <h4>Mjanja Butchery</h4>
               <h6>Gacio Market</h6>
               <p>Contact: <u class="important">0714227569</u></p>

               <a class="btn btn-outline-success" href="#">Shop</a>
            </div>
                 <div class="col-4">
               <img src="{% static 'images/liqor.jpg' %}">
               <<h4>Mjanja Butchery</h4>
               <h6>Gacio Market</h6>
               <p>Contact: <u class="important">0714227569</u></p>

               <a class="btn btn-outline-success" href="#">Shop</a>
            </div>
                 <div class="col-4">
               <img src="{% static 'images/liqor.jpg' %}">
               <h4>Mjanja Butchery</h4>
               <h6>Gacio Market</h6>
               <p>Contact: <u class="important">0714227569</u></p>

               <a class="btn btn-outline-success" href="#">Shop</a>
            </div>
                 <div class="col-4">
               <img src="{% static 'images/liqor.jpg' %}">
               <h4>Mjanja Butchery</h4>
               <h6>Gacio Market</h6>
               <p>Contact: <u class="important">0714227569</u></p>

               <a class="btn btn-outline-success" href="#">Shop</a>
            </div>
                 <div class="col-4">
               <img src="{% static 'images/liqor.jpg' %}">
               <h4>Mjanja Butchery</h4>
               <h6>Gacio Market</h6>
               <p>Contact: <u class="important">0714227569</u></p>

               <a class="btn btn-outline-success" href="#">Shop</a>
            </div>

         </div>
</div>
    <div class="page-btn">
    <span>1</span>
     <span>2</span>
     <span>3</span>
     <span>4</span>
     <span>5</span>
     <span>&#8594</span>
</div>

         <br>
{% endblock %}